<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> IATI Shop </title>
    <!-- Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    {% load static %}
    <!-- Stylesheet -->
    <link href="{% static 'style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        {% block navbar %} {% endblock %}
        {% block welcome %} {% endblock %}
        {% block content %} {% endblock %}
        {% block footer %} {% endblock %}
    </div>
</body>
</html>